body{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    
    
}
html{
    background-image: linear-gradient(90deg,rgb(217, 224, 226),rgb(132, 210, 230)   );
    
}
header{
    
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    
}
header nav {
    display: flex;
    flex-basis: 100%;
}
header nav ul li {
    list-style-type: none;
    flex-wrap: nowrap;
    flex-grow: 1;
    padding: 0.5em;
    border: solid 1px;
    flex-basis: 100%;
    background-color: rgb(216, 225, 233) ;  
}
header nav ul li a {
    text-decoration: none;
    padding: 2em;
}
header nav ul {
    display: flex;
    flex-basis: 100%;
    margin-top: 2em;
    padding: 0%;
}
header h1 {
    display: flex;
    border: solid 0.08em;
    padding: 1em;
    background-color: rgb(77, 204, 226) ;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,rgb(142, 142, 235),rgb(46, 46, 236));
}
aside{
    
    display: flex;
    justify-content: flex-end;
    flex-basis: 25%;
    flex-direction: column;
    margin : 1em ;
    
}
main{
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    
}
main section{
    
    flex-basis: 100%;
    display: flex;
    margin: 1em;
    
    
}
main section section{
    display:flex;
    flex-direction:column;

}

main section section h2  {
    flex-grow: 1;
    flex-basis: 70%;
    margin : 1em;
    justify-content: center;
    align-items:flex-start;

}
main section section p{
    flex-basis: 70%;
    justify-content: center;
    align-items:flex-start;
    margin: 1em;
  
}
main section img {
    flex-basis: 40%;
}
aside section{
    flex-basis: 40%;
    
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: rgb(226, 231, 202) ;
    
}
footer{
    display: flex;
    flex-basis: 100%;
    
    background-color: rgb(46, 44, 44);
    align-items: center;
    justify-content: center;
    
    
}
footer p {
    display: flex;
    color: white;
    
}

ul li a {
    text-decoration: none;
}
aside ul li {
    margin:1em;
}
img {
    border-radius: 0.5em;
}
